@tablet: ~"only screen and (max-width: 768px)";
@mobile: ~"only screen and (max-width: 480px)";
@nomobile: ~"only screen and (min-width: 481px)";



.daterangepicker.dropdown-menu {
    z-index: 10001;
}

.modal {
	z-index: 9999;
	.modal-footer {
		padding: 15px 0px 0px ! important;
		.btn + .btn {
			margin-left: 5px;
			margin-bottom: 5px ! important;
		}
	} 
}

.select2-dropdown {
	z-index: 10000;
}

div.botones-venta-directa {
    text-align: center;
    padding: 10px 0px;
}

.right_col {
	@media @mobile {
		padding-right: 0px ! important;
		padding-left: 0px ! important;
	}
}
 
.popover-error {
	background: #EEEEEE ! important;
	.popover-title {
		color: #FFFFFF;
		font-weight: bold;
		background: #FF0000 ! important;
	}

	&.top .arrow:after {
		border-top-color: #EEEEEE;
	}
}

body.dashboard {
	.nav_title {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-top: 15px;
	}

	#sidebar-menu {
		margin-top: 20px;
		float: left;
		width: 100%;
		.menu_section h3 {
			display: none;
		}
		
	}

	.top_nav .title {
	    float: left;
	    height: 100%;
	    padding-top: 13px;
	    font-size: 1.6em;
	    margin-right: -100px;
    }
}

.row {
	@media @mobile {
		margin: 0px;
	}
}

.popover {
	z-index: 1000 ! important;
	&.bottom > .arrow {
		top: -10px ! important;
	}

	&.top > .arrow {
		bottom: -10px ! important;
	}
}

.error-page {
	.exception-message {
		margin: 50px 20%;
		text-align: left;
	}

	.text-center {
		padding: 0em 2em 4em;
	}
}

.small-center-logo {
	width: 150px;
}

.section-title {
	font-size: 1.4em;
	padding-bottom: 0.5em;
	padding-top: 1.5em;
}

.table-colored {
	tbody tr:nth-child(odd) {
		background-color: #f8f7dc;
	}

	tbody tr:nth-child(even) {
		background-color: #f8f6c6;
	}

	tbody tr:hover {
		background-color: #e8e8d2;
	}

	td {
		border: 0;
	}
}

.dataTables_filter {
	width: 100%;
	text-align: right;
	@media @mobile {
		text-align: center;
	}
}

.dataTables_paginate {
	@media @mobile {
		text-align: center;
	}
}

.field_comment {
	font-style: italic;
	font-size: .8em;
}

.main_buttons {
	text-align: right;
	margin-bottom: 2em;
	.btn {
		@media @mobile {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
}

.alert-message {
	background-color: #ffa;
	padding: 5px;
	text-align: center;
	color: red;
	font-size: 1.1em;
}

.user-profile {
	div {
		display: inline-block;
		line-height: 1.1em;
		padding-left: 5px;
		vertical-align: middle;
	}
}

#center_buttons {
	text-align: center;
	margin-bottom: 2em;
}

#secundary_buttons {
	text-align: right;
	margin-bottom: 2em;
}

.center {
	text-align: center;
}

.content {
	padding-bottom: 10px;
}

.nav.side-menu > li {
	@media @tablet {
		overflow: hidden;
		margin-right: 3px;
		margin-left: -3px;
	}
}

.main_menu {
	ul > li.menu_option > a > i {
		@media @tablet {
			display: block;
			width: initial;
		}
	}

	.option-text {
		display: inline-block;
		width: 80%;
		vertical-align: middle;
		margin-left: 5px;
	}
}

.maintab {	
	margin-bottom: -15px;
}

.nav-tabs > li {

	display: inline-block;
	float: inherit ! important;
}

ul.bar_tabs {
	height: auto;
		
	& > li {
		margin-bottom: -1px;
		border-bottom: 1px solid #e6e9ed;
		vertical-align: bottom;
		margin-top: -6px;
		
		&.active {
			border-bottom: none;
		}
		
		a {
			padding: 5px 10px;
		}
	}
}

.thin_padding {
	padding: 3px;
}

.x_panel .filter_list {
	
	.x_title {
		padding: 0px;
	
		h2 {
			font-size: 15px;
		}
	}
	
	.x_content {
		.control-label {
			font-size: 11px;
		}
		
		.form-control {
			height: 28px;
			font-size: 11px;
			padding: 0px 6px;
		}
		
		.form-control-feedback {
			margin-top: 3px;
		}
	}
	
	.ln_solid {
		margin: 10px 0;
		display:none;
	}
	
	.btn {
		margin-bottom: 0px;
		font-size: 12px;		
	}

}

.x_panel {

	.x_content {
	
		.form-control-feedback {
			margin-top: 6px;
		}
	}
}

.nav_menu {
	margin-bottom: 2px;
}

.btn-datatable {
	
	padding: 5px;

	span.fa {
		display: inline-block;
	}

	.tooltip-inner {
		white-space: pre;
		text-align: left;
	}
}
 

.table.dataTable {	

	.tooltip-inner {
		white-space:pre-wrap;
		text-align: left;
		max-height: 40vh;
		overflow-y: scroll;
		max-width: 400px;
		min-width: 300px;
		
		&::-webkit-scrollbar {
		  width: 10px;
		}
		
		&::-webkit-scrollbar-thumb {
  			background: #666;
  			border-radius: 20px;
		}

		&::-webkit-scrollbar-track {
  			background: #222;
  			border-radius: 20px;
		}		
		
		span {
		    display: inline-block;
		    padding: 0;
		    margin: 0;
		    line-height: 1.5em;
		    width: 100%;
    		
    		&:hover {
				background-color: #222;
			}
		}
	}

	th {
		text-align: center;
		vertical-align:middle;
	}
	
	td {
		&.cell_centered {
			text-align: center;
			vertical-align:middle;
		}
	
		&.text_icon i.fa{
			font-size: 20px;
		}
		
		span.list_data {
			font-weight: bold;
			line-height: normal;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
}

body.nav-sm {

	.main_menu {
		.fa {
  			display: block;
  			width: auto;
		}
		.fa-chevron-down {
			display: none;
		}
	}
	
	ul.nav.child_menu {
		.fa {
  			display: inline-block;
  			width: 26px;
		}
	}
}

.modal-dialog {

   	font-size: 11px;

	@media (min-width: 768px) {
    	width: 80%;
    }
    
   	.control-label {
       	font-size: 11px;
   	}
    	
   	.form-control {
   		height: 28px;
   		font-size: 11px;
   		padding: 6px;
	}
		
	textarea.form-control {
 	   	height: auto;
 	   	overflow-x: hidden;
	}
		
	.form-control-feedback {
		margin-top: 3px;
	}
}


.select2-container--default .select2-selection--multiple.single-line {
    max-height: 200px;
    overflow-y: scroll;

	.select2-selection__choice {
		overflow: hidden;
		float: none !important;
	}
}


div.modal.md-dialog .modal-dialog{
	width: 85%;
	
	@media @mobile {
    	width: 90%;
    }        
}

div.modal.sm-dialog .modal-dialog{
	width: 60%;
	
	@media @mobile {
    	width: 90%;
    }        
}

div.modal.xs-dialog .modal-dialog{
	width: 30%;
	
	@media @mobile {
    	width: 90%;
    }        
}

div.color_form_edit{
	background-color:#F2FBEF; 
	overflow:hidden;

	.checkbox input[type=checkbox] {
		margin-left: 0px;
		margin-top: 10px;
		z-index:1;
	}
}

.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td  {
    padding: 4px 4px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>th {
    padding: 4px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 4px;
}
    
.form-horizontal .control-label.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.date-picker {

	.input-group {
		margin-right: 30px;
		
		.input-group-addon {
			padding: 4px;
		}
	}
	
	.btn-clear-date {
		float: right;
	    padding: 3px;
	    margin-top: 0px;
	}
}

.button-dialog {

	.input-prepend {
		margin-right: 30px;
	}
	
	.btn-dialog {
		float: right;
	    padding: 3px;
	    margin-top: 0px;
	}
}

.button-2dialog {

	.input-prepend {
		margin-right: 60px;
	}
	
	.btn-dialog {
		float: right;
	    padding: 3px;
	    margin-top: 0px;
	}
}

.i18n-popover {
	font-size: 0.8em;
    	
	.row {
		text-align: right;
	
		label {	
			display: inline-block;
		}
		
		input {
			padding: 3px;
	    	margin: 3px; 
	    	height: auto;
	    	font-size: 1em;
	    	display: inline-block;
	    	width: 180px;
		}
	}
}

.btn-i18n {
    float: right;
    padding: 3px;
    margin-top: 0px;
}

.btn-i18n-wrapper {
 	margin-right: 30px;
}

.btn-client-wrapper {
 	margin-right: 30px;
}

.daterangepicker.opensright .calendar,
.daterangepicker.openscenter .calendar{
    float:none;
}
.daterangepicker.opensright .calendar.first,
.daterangepicker.openscenter .calendar.first{
    top: 292px;
    position: relative;
}
.daterangepicker.opensright .calendar.second,
.daterangepicker.openscenter .calendar.second{
    top: -292px;
    position: relative;
}
@media (min-width: 768px) {
    .daterangepicker.opensright .calendar,
    .daterangepicker.openscenter .calendar{
        float:left;
    }
    .daterangepicker.opensright .calendar.first,
    .daterangepicker.openscenter .calendar.first{
        position: static;
    }
    .daterangepicker.opensright .calendar.second,
    .daterangepicker.openscenter .calendar.second{
        position: static;
    }
}

.fc {
	margin-top: 50px;
	
	.fc-toolbar {
		.fc-center {
			h2 {
				font-size: 20px;
			}
		}
	}
}

.btn-search-hour {
	float: right;
    padding: 3px;
    margin-top: 0px;
    margin-right: 16px;
    width: 20px;
}
	
div.icheckbox_div {
	margin-top: 6px !important;
}

select.ventareserva {
	height: 100px !important;
	
	.option-main-product {
		font-weight: bold;
	}
}

table.ventareserva {
	font-size: 11px;
}

div.disponibles {
	div.encabezado-disponibilidad {
		margin-top: 8px;
		margin-bottom: -8px;
	}
	
	label.label-disponibilidad {
		text-align: left;
	}
	
	span.nombre-producto {
		color: orange;
	}
	
	.dataTables_scrollBody {
		overflow-x: hidden !important;
	}
	
	table {
		
		th.disponibles {
		    background-color: darkseagreen;
	    	color: green;
		}
		
		th.bloqueadas {
		    background-color: lightblue;
	    	color: steelblue;
		}
		
		th.reservadas {
		    background-color: lightgoldenrodyellow;
		    color: peru;		
		}
		
		th.vendidas {
		    background-color: lightpink;
		    color: firebrick;	
		}
	}
}

.generacionfacturas
{
	margin-top:12px;
}

.dashboard.nav-md .taquilla_info {
    margin-top: 10px;
    text-align: center;
    background-color: #36506a;
    padding: 5px;
}

.dashboard.nav-sm .taquilla_info {
    display: none;
}

.highlighted_box {
    margin: 10px;
    padding: 10px;
    background-color: #E5E5FF;
    font-size: 1.1em;
    
    label {
        font-size: 1.1em !important;
    	padding-top: 0 !important;
    }
    
}


.totales-group {
    float: left;
    vertical-align: middle;
    margin-top: 20px;
    
    span.total-lbl {
        font-size: 14px;
    	color: orange;
    	font-weight: bold;
	}
	
	span.descuento-lbl {
		font-size: 10px;
	}
}	

div.forma-pago {

	label {
	    text-align: left !important;
    	padding-left: 0 !important;
    	padding-right: 0 !important;
	}
	
	label.euros {
		margin-top: -3px;
		padding-left: 8px !important;
	}

    span.total-lbl {
        font-size: 14px;
    	color: orange;
    	font-weight: bold;
	}
	
	input.importe {
		float: left;
		width: 80%;
	}
	
	span.importe {
		float: left;
		margin-top: 8px;
		padding-left: 4px;
	}
}

#foto {
	border:2px solid black;
	height:45vh;
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.texto-resumen {
	margin-top: 8px;
}

	
label.titulo-disponibilidad {
	margin-top: 6px;
}

div.disponibilidad {
	display: inline-block;
	height: 550px;
	overflow: auto;
	  
	div.unidad-disponibilidad {
		text-align: center;
		font-size: 12px;
		font-weight: bold;
	    background-color: lightgray;
	    padding: 3px;
	}
	
	div.recinto-disponibilidad {
	    text-align: center;
	    font-weight: bold;
	}
	
	div.unidadNegocio {
		float: left;
	    position: relative;
	    width: 400px;
	    display: inline-block;
	    
	    p {
		    text-align: center;
	    }
	}
	
    
}

 
	 
div.tarjeta 
{
	background:#d3d3d3;
	top: 1cm;
    left: 1cm;
	width: 8.5cm;
    height: 5.5cm; 
}
div.fotoTarjeta {
    position: fixed;
    top: 2.00cm;
    left: 1.45cm;
    width: 1.64cm;
    height: 2.22cm; 
}

div.codBarras {
    position: fixed;
    top: 1.74cm;
    left: 4.66cm;
    width: 0.75cm;
    height: 2.68cm;
    transform: rotate(90deg);
}

img.imprimir {
	width: 1.64cm;  
    height: 2.22cm; 
}
div.nombrePase {
    position: fixed;
    top:5.00cm;
    left:1.45cm;
    }
    
div.caducidadPase {
    position: fixed;
    top: 5.46cm;
    left: 2.64cm; 
    }

div.codigoTarjeta {
    position: fixed;
    top: 2.00cm;
    left: 2.45cm;
    width: 1.64cm;
    height: 2.22cm; 
}


img.imprimirBarras {
    position: fixed;
    width: 1.64cm;
    height: 2.22cm;    
    }

div.codBarrasAbono {
    position: fixed;
    top: 4.2cm;
    left: 4.66cm;
    width: 0.75cm;
    height: 2.68cm;
    transform: rotate(90deg);
}

.plus-minus-input {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
         
}

.plus-minus-input .input-group-field {
  text-align: center;
  margin-left: 0.5rem;
   margin-right: 0px;
  padding: 1rem;
}

.plus-minus-input .input-group-field:-webkit-inner-spin-button,
.plus-minus-input .input-group-field :-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.plus-minus-input .input-group-button .circle {
  border-radius: 50%;
  padding: 0.25em 0.8em;
}

.input-number{
     display: inline-block;
          width: 50px;
}

.btn-number{
 margin-right: 0px;
}