body {
	background-color: white;
	font-family: Verdana;
	font-size: 0pt;
	color:#FFFFFF;
}

.label {
	font-family: Verdana;
	font-size: 8pt;
	color:#628099;
	text-align: right;
}

.title {
	font-family: Verdana;
	font-weight: bold;
	font-size: 10pt;
	color: #DC822F;	
}

.field {
	font-family: Verdana;	
	font-size: 8pt;
	color: #000000;
}
TD {white-space: nowrap;}
